<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/learn_hibernate_standalone</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
    
    <!-- mappings for annotated classes -->
<!--         <mapping class="com.imran.crud.StudentEntity"/>
        <mapping class="com.imran.embeddingObjects.EmployeeEntity"/>
        <mapping class="com.imran.embeddingObjects.EmployeeEntityWithCollection"/> -->
<!--         <mapping class="com.imran.oneToOneMapping.EmployeeEntity"/>
        <mapping class="com.imran.oneToOneMapping.AddressEntity"/> -->
<!--         <mapping class="com.imran.oneToOneBidirectionalMapping.EmployeeEntity"/>
        <mapping class="com.imran.oneToOneBidirectionalMapping.AddressEntity"/> -->
<!--         <mapping class="com.imran.OneToManyMapping.EmployeeEntity"/>
        <mapping class="com.imran.OneToManyMapping.AddressEntity"/> -->
<!--         <mapping class="com.imran.OneToManyMappingOtherWay.EmployeeEntity"/>
        <mapping class="com.imran.OneToManyMappingOtherWay.AddressEntity"/> -->
        <mapping class="com.imran.ManyToManyMapping.EmployeeEntity"/>
        <mapping class="com.imran.ManyToManyMapping.AddressEntity"/>
        
        
  </session-factory>
</hibernate-configuration>